body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c19441;
}

.mandatory {
  color: #cda313;
}

p,
span {
  color: #cda313;
  font-family: "Montserrat", sans-serif;
}

/* Main Layout */
#mainLayout,
label,
.form-control::placeholder {
  color: #c29b39;
}

#mainLayout h1 {
  font-weight: bolder;
  size: 3.3rem;
  line-height: 1.5;
}

.mainSection,
.mainContent {
  position: relative;
  overflow: hidden;
}

#title1 {
  position: relative;
  right: 8rem;
}

.mainSection:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg1.png");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

#textWelcome2,
#textWelcome {
  width: 34rem;
  text-align: justify;
  text-indent: 1.5rem;
  padding: 1rem;
}

.carousel-img1 {
  width: 22%;
  transform: rotate(-5deg) scale(1.25);
  position: absolute;
  right: 8rem;
  top: 23%;
}

.carousel-img2 {
  width: 22%;
  transform: rotate(-5deg) scale(1.25);
  position: absolute;
  left: -1%;
  padding-top: 8%;
}

/*  Navbar */

.navbar {
  padding: 0 8rem;
}

.navbar-dark,
.navbar-brand {
  color: #c19441;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
}

option:hover {
  background-color: #ffffff !important;
  color: #c19441 !important;
  border-color: transparent !important;
}

.form-select:hover,
.sortBy:hover,
.nav-link.active:hover,
.nav-link:hover,
.nav-item:hover {
  color: #ab843c5a !important;
}

.nav-item {
  padding: 0 0.3rem;
}

.nav-link,
.dropdown-item {
  font-size: 1.1 rem;
  font-family: "Montserrat-Light", sans-serif;
  color: #d6ad60 !important;
}

.form-control,
.dropdown-menu,
.dropdown-divider {
  border-color: #c29b39;
}

.dropdown-item:hover {
  background-color: #d6ad6037;
}

.dropdown-item:focus,
.goldButton {
  background-color: #c29b39b4;
  color: white !important;
}

.form-control:focus {
  border-color: #d6ad60;
  box-shadow: 0 0 0 0.25rem #d6ad60;
}

.goldButton:hover,
.sortOrder:hover {
  background-color: white;
  border-color: transparent;
  color: #d6ad60;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.aware {
  color: #d6ad60;
  position: relative;
  top: 38%;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
  display: none;
  color: #bd9750d2;
  font-size: 3rem;
  box-shadow: none;
  border: none;
  background: none;
  /* z-index: ; */
}


button:hover path {
  fill: #ac8845;
}

/* Form */

#form {
  padding: 8rem;
}

.bgImg {
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
}

.bgImg:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("../images/bgForm.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  margin: 0px auto;
  padding: 4rem;
  border-radius: 8rem;
}

input,
textarea,
textarea:focus,
input:focus,
.tab input::placeholder,
#register {
  color: #d6ad60;
}

#regForm {
  position: relative;
  height: 39.211rem;
  display: table-cell;
  vertical-align: middle;
}

#map {
  width: 400px;
  height: 300px;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

span::after {
  padding-left: 5px;
}

input:invalid+span::after {
  content: "✖";
}

input:valid+span::after {
  content: "✓";
}

#text-message {
  margin: 1rem auto;
  padding: 40px;
  border-radius: 10px;
  width: 100;
}

.tab input:focus {
  border: 0.2rem solid #d79825 !important;
  outline: none;
}

.tab input::placeholder {
  opacity: 0, 3;
}

input[type="text"],
input[type="datetime-local"] {
  margin: 0.22rem 0;
  box-sizing: border-box;
  padding: 0.625rem;
  width: 29%;
  font-size: 1.063rem;
  border: 1px solid #d6ad60;
  border-radius: 0.625rem;
  -webkit-appearance: none;
}

input.invalid {
  border: 0.22rem solid gold;
}

.tab {
  display: none;
}

.formButton {
  background-color: #c29b39;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 17px;
  /* font-family: Raleway; */
  cursor: pointer;
  margin-right: 3rem;
}

.formButton:hover {
  opacity: 0.8;
}

.formButton:focus {
  outline: none !important;
}

#nextprevious {
  overflow: auto;
  position: relative;
  bottom: 0.3rem;
  display: inline-block;
}

#nextBtn {
  margin-right: 0;
  font-size: 1.3rem;
}

#prevBtn {
  background-color: #ffd78c;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.step {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #c29b39;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish,
.navbar-toggler,
.aware:hover {
  color: #fff;
  background: #d6ad60;
  opacity: 1;
  border-color: transparent;
}

.all-steps {
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.thanks-message {
  display: none;
}

/* Results */

#results {
  margin: 6rem 0rem 40rem 2rem;
}

#msgUser {
  text-align: center;
  margin: 0 0 3rem -8rem;
}

#cards {
  margin-left: -19.5rem;
  padding: 0 !important;
}

.cards {
  margin-inline-end: -16rem;
}

.flip-box {
  background-color: white;
  /*   width: 300px;
  height: 200px; */
  perspective: 1000px;
}

.flip-box-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

  transition: transform 4s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateY(180deg);
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back,
.front {
  top: 0;
  width: 66%;
  object-fit: cover;
}

.front {
  margin-top: 0.1rem;
}

#typeAyur,
#balanceAyur {
  position: fixed;
  top: 24rem;
  right: 11.8rem;
  font-size: 0.7rem;
  color: transparent;
}

#balanceAyur {
  right: 9.4rem;
}

#filterSort {
  overflow: hidden;
  position: relative;
  top: 11rem;
}

.nav {
  padding: 3rem 0 6rem;
}

.form-select:disabled,
.disabled {
  color: white !important;
  background-color: #d6ad601a;
  border: transparent;
}

.form-select,
.sortBy,
.sortOrder {
  color: #c19441;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: #d6ad6029;
  border-color: transparent;
}

ul {
  list-style-type: none;
}

.sortBy {
  text-decoration: none;
  color: #d79825;
}

.form-select:focus {
  border-color: transparent;
  box-shadow: -1px 0px 16px 9px rgba(215, 177, 108, 0.15);
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23d6ad608b' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

option:checked {
  color: white;
  background-color: rgb(255, 215, 0);
}

.bgSelector {
  opacity: 0.22;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.filterContent {
  position: relative;
}

#row-nav {
  padding: 1rem 0 1rem;
}

#row-sort {
  padding: 0 0 8rem;
}

#celebrity {
  background-color: white;
}

.handsImg {
  width: 88%;
  object-fit: cover;
  position: relative;
  top: 8rem;
}

#displayResult {
  padding: 0px;
  left: 0px;
  top: 0px;
}

.col-sm-2 {
  padding-left: 0px;
  padding-right: 0px;
}

.quoteImg {
  width: 34rem;
  object-fit: cover;
  position: relative;
  bottom: 4rem;
  right: 3rem;
}

#astroIA {
  width: 88%;
  object-fit: cover;
  position: relative;
  top: 3rem;
}

.quoteContent {
  position: relative;
  bottom: 15.6rem;
  left: 3rem;
  width: 22.6rem;
  font-size: small;
}

#nameCeleb {
  margin: 0.3rem auto;
}

/* Testimonials Section */

#testimonials {
  color: #d6ad60;
  padding: 8% 11% 1%;
}

#testimonials p,
h3 {
  color: #d6ad60;
  font-weight: bolder;
  margin-bottom: 3rem;
}

#testimonials img {
  width: 22% !important;
  border-radius: 100%;
  margin: 0 auto 1%;
}

.carousel-indicators {
  margin-top: 0;
}

.carousel-item {
  padding: 0 22% 0;
  line-height: 1.5;
}

/* Press Section */

#testimonialsSection,
#press,
#pricing,
#footer {
  position: relative;
  top: 11rem;
}

#press {
  background-color: #d6ad60;
  padding: 8%;
}

#press img {
  width: 22%;
  padding: 3%;
}

.middle {
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.29);
}

.plan-name {
  letter-spacing: 2px;
}

.price {
  font-weight: 1000;
  font-size: 3.5em;
  color: #ffd78c;
}

.btn-outline-primary {
  color: #d6ad60;
  border-color: #d6ad60;
}

.btn-primary {
  color: white !important;
  border-color: #d6ad60 !important;
  background-color: #d6ad60 !important;
}

.btn-outline-primary:hover,
.btn-primary:hover {
  color: white !important;
  border-color: #d6ad60 !important;
  background-color: #d6ad60 !important;
  outline-color: #d6ad60;
}

.btn-outline-primary:focus,
.btn-primary:focus {
  outline-color: #bd9750;
  outline-style: solid;
  box-shadow: 0 0 0 4px #bd9750 !important;
}

.btn-outline-primary:active,
.btn-primary:active {
  outline-color: #bd9750 !important;
  outline-style: solid;
  background-color: #bd9750 !important;
  border-color: #d6ad60 !important;
}

/* Prices Section */

#pricing {
  padding: 8%;
}

#pricing li {
  text-align: left;
  margin-left: 29%;
}

#pricing span {
  font-size: 20px;
}

.check {
  color: #d6ad60;
}

/* Footer  Section*/
#footer {
  padding: 5% 0 3%;
  background-color: #d6ad60;
}

#footer p {
  padding: 3% 0;
  color: white;
}

.contact-icon {
  font-size: 4rem;
  padding: 1%;
  color: white;
}

/* Responsive */

@media only screen and (max-width: 992px) {
  .navbar {
    padding: 0 0 3rem;
  }

  #home {
    margin: 3rem;
  }

  #textWelcome2 {
    width: 38rem;
  }

  #filterSort {
    height: 55rem;
  }

  .nav {
    padding: 6% 13% 1%;
  }

  .handsImg {
    width: 22%;
    position: relative;
    top: 3rem;
  }

  #astroIA {
    width: 33%;
    object-fit: cover;
  }

  .quoteImg {
    width: 100%;
    position: relative;
    left: 8rem;
    top: 3rem;
    object-fit: cover;
    padding-top: 2rem;
  }

  #astroIA {
    width: 100%;
    position: relative;
    left: 13rem;
    top: 11rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0 0 3rem;
  }

  #title1 {
    right: 0;
  }

  .handsImg {
    width: 33%;
    position: relative;
    bottom: 1rem;
  }

  #astroIA {
    width: 100%;
    object-fit: cover;
  }

  .quoteImg {
    width: 92%;
    object-fit: cover;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 576px) {

  .d-inline-block {
    position: relative;
    top: 3rem;
    width: 66%;
    height: 66%;
    right: 5rem;
  }

  .navbar-toggler {
    position: relative;
    left: 8rem;
    bottom: 1.5rem;
  }

  .col-lg-6 {
    padding: 0 8%;
  }

  .download-btn {
    margin-left: 3%;
  }

  .w-50,
  #regForm {
    margin-left: 0px;
    margin-right: 0px;
  }

  #form {
    padding-left: 1rem;
    padding-right: 1rem;
  }


  #regForm {
    width: 25rem;
  }

  label {
    width: 11rem;
  }

  input[type="text"],
  input[type="datetime-local"] {
    width: 13.8rem;
    font-size: 0.6rem;
  }

#map {
  width: 16rem; 
}

.mb-4{
  width: 3rem;
}

#text-message{
  padding: 0%;
}

#text-message > h3{
  margin-bottom: 1rem;
  }

  .flip-box {
    position: static;
    display: flex;
  }

  #boxCard2 {
    position: relative;
    top: 22rem;
  }

  #boxCard3 {
    position: relative;
    top: 44rem;
  }

  .cards {
    margin-inline-end: -8.3rem;
  }

  .back,
  .front {
    object-fit: contain;
    width: 12rem;
    align-items: center;
  }

  #row-nav {
    padding-top: 15rem;
  }

  #asc {
    margin: 0 2rem 1rem;
  }

  #displayResult {
    position: absolute;
    top: 56%;
    left: -6rem;
  }

  #celebrity {
    position: relative;
    bottom: 2rem;
  }

  #celebrity>ul {
    margin-top: 3rem;
  }

  #filterSort {
    height: 44rem;
  }

  .col-sm-3 {
    position: relative;
    bottom: 3rem;
    right: 20rem;
  }

  div.carousel-item {
    padding: 0 1rem 0;
  }

  #textWelcome2,
  #textWelcome {
    width: auto;
  }

  .carousel-img1,
  .carousel-img2 {
    display: none;
  }

  #press img {
    padding: 0;
  }

  #press {
    padding: 8% 3% 3%;
  }

  #pricing li {
    margin-left: 11%;
  }

  .price {
    font-size: 3em;
  }

  .svg-inline--fa.fa-w-16 {
    width: 3rem;
  }

  .middle>div>ul>li {
    margin-left: 8%;
  }

  .w-50 {
    margin: 0;
  }
}