body {
  font-family: 'Montserrat-Black', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c19441;
}

p {
  color: #D6AD60;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: 0;
  padding-left: 0;
}


/* Main Layout */
#mainLayout,
label,
.form-control::placeholder {
  color: #c29b39;

}

#mainLayout h1 {
  font-weight: bolder;
  size: 3.3rem;
  line-height: 1.5;
}

.mainSection,
.mainContent {
  position: relative;
  /* padding: 3% 8% 0; */
  overflow: hidden;
}


.mainSection:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("../images/bg1.png");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}


.carousel-img1 {
  width: 33%;
  transform: rotate(-5deg) scale(1.25);
  position: relative;
  left: 11%;

}

.carousel-img2 {
  width: 33%;
  transform: rotate(-5deg) scale(1.25);
  position: relative;
  right: 40%;
  padding-top: 8%;

}


/*  Navbar */

.navbar {
  padding: 0 8rem;
}

.navbar-dark,
.navbar-brand {
  color: #c19441;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
}

.form-select:hover, .sortBy:hover,
.nav-link.active:hover,
.nav-link:hover, .nav-item:hover  {
  color: #ab843c5a !important;

}

.nav-item {
  padding: 0 18px;
}



.nav-link,
.dropdown-item {
  font-size: 1.1 rem;
  font-family: 'Montserrat-Light', sans-serif;
  color: #D6AD60 !important;
}

.form-control,
.dropdown-menu,
.dropdown-divider {
  border-color: #c29b39;
}

.dropdown-item:hover {
  background-color: #d6ad6037;
}

.dropdown-item:focus, .goldButton {
  background-color: #c29b39b4;
  color: white !important;
}


.form-control:focus {
  border-color: #D6AD60;
  box-shadow: 0 0 0 .25rem #D6AD60;
}

/* .goldButton {
  background-color: #D6AD60;

} */


.goldButton:hover, .sortOrder:hover{
  background-color: white;
  border-color: transparent;
  color: #D6AD60;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.aware {
  color: #D6AD60;
}


/* Form */

#form {
  padding: 8rem;
}

.bgImg {
  overflow: hidden;
  position: relative;
}

.bgImg:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('../images/bgForm.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  margin: 0px auto;
  padding: 4rem;
  border-radius: 8rem;
}

input,
textarea,
textarea:focus,
input:focus,
.tab input::placeholder,
#register {
  color: #D6AD60;
}

#regForm {
  position: relative;
  margin: 2rem;
}

#map {
  width: 400px;
  height: 300px;
  margin: 1rem 6rem;
}

span::after {
  padding-left: 5px;
}

input:invalid+span::after {
  content: "✖";
}

input:valid+span::after {
  content: "✓";
}

#text-message {
  margin: 1rem auto;
  /* font-family: Raleway; */
  padding: 40px;
  border-radius: 10px;
  width: 100;
}

.tab input:focus {
  border: 0.2rem solid #d79825 !important;
  outline: none;
}

.tab input::placeholder {
  opacity: 0, 3;
}

input[type=text], input[type=datetime-local] {
  margin: 0.22rem 0;
  box-sizing: border-box;
  padding: 0.625rem;
  width: 55%;
  font-size: 1.063rem;
  /* font-family: Raleway; */
  border: 1px solid #D6AD60;
  border-radius: 0.625rem;
  -webkit-appearance: none;
}

input.invalid {
  border: 0.22rem solid gold;
}

.tab {
  display: none
}

.formButton {
  background-color: #c29b39;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 17px;
  /* font-family: Raleway; */
  cursor: pointer;
  margin-right: 3rem;
}

.formButton:hover {
  opacity: 0.8
}

.formButton:focus {

  outline: none !important;
}

#prevBtn {
  background-color: #ffd78c;
  margin-right: 1rem;
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.step {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: #c29b39;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  opacity: 0.5;
}

.step.active {
  opacity: 1
}

.step.finish,
.navbar-toggler,
.aware:hover {
  color: #fff;
  background: #D6AD60;
  opacity: 1;
  border-color: transparent;
}


.all-steps {
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.thanks-message {
  display: none
}

/* Results */

.container {
  max-width: 100%;
}

.jumbotron {
  margin-top: 1.5%;
  text-align: center;
  /* font-family: 'Satisfy', cursive; */
  padding: 6rem;
}

table {
  width: 100%;
}

.back,
.front {
  top: 0;
  max-width: 21.375rem;
  max-height: 31.625rem;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

#display-name td,
#reversal td {
  top: 0;
  max-width: 14.375rem;
}

#reversal td p {
  top: 0;
  font-size: 115%;
}

#filterSort {
  overflow: hidden;
  position: relative;
  height: 38rem;
}

.nav {
  padding-top: 6%;
}

.form-select:disabled, .disabled {
  color: white !important;
  background-color: #d6ad601a;
  border: transparent;
}

.form-select, .sortBy, .sortOrder {
  color: #c19441;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: #d6ad6029;
  border-color: transparent;
}

.form-select:focus{
  border-color: rgba(215, 177, 108, 0.68) ;
  box-shadow: 0 0 0 0.3rem rgba(215, 177, 108, 0.564)  !important;
}

.bgSelector {
  opacity: 0.22;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.filterContent {
  position: relative;
}

/* .selector {
  margin: 2.5rem;
} */

#celebrity {
  background-color: white;
  padding-top: 3rem;
}

.handsImg {
  width: 55%;
  position: relative;
}

#displayResult {
  position: relative;
  left: 8%;
  top: 33%;
  padding-top: 5rem;
}

.quoteImg {
  position: absolute;
  right: 0;
  top: 0;
  width: 88%;
  padding-top: 2rem;
}

#astroIA {
  position: absolute;
  height: auto;
  left: 23rem;
  top: 15rem;
  width: 17rem;
}

.quoteContent {
  position: relative;
}

/* Testimonials Section */

#testimonials {
  color: #D6AD60;
  padding: 8% 11% 1%;

}

#testimonials p,
h3 {
  color: #D6AD60;
  font-weight: bolder;
  margin-bottom: 3rem;
}

#testimonials img {
  width: 22% !important;
  border-radius: 100%;
  margin: 0 auto 1%;
}

.carousel-indicators {
  margin-top: 0;
}

.carousel-item {
  padding: 0 22% 0;
  font-size: 2..2rem;
  line-height: 1.5;
}

/* Press Section */

#press {
  background-color: #D6AD60;
  padding: 8%;
}

#press img {
  width: 22%;
  padding: 3%;
}

.middle {
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.29);
}

.plan-name {
  letter-spacing: 2px
}

.price {
  font-weight: 1000;
  font-size: 3.5em;
  color: #ffd78c;
}

.btn-outline-primary {
  color: #D6AD60;
  border-color: #D6AD60;
}

.btn-primary {
  color: white !important;
  border-color: #D6AD60 !important;
  background-color: #D6AD60 !important;
}

.btn-outline-primary:hover,
.btn-primary:hover {
  color: white !important;
  border-color: #D6AD60 !important;
  background-color: #D6AD60 !important;
  outline-color: #D6AD60;
}

.btn-outline-primary:focus,
.btn-primary:focus {
  outline-color: #bd9750;
  outline-style: solid;
  box-shadow: 0 0 0 4px #bd9750 !important;
}

.btn-outline-primary:active,
.btn-primary:active {
  outline-color: #bd9750 !important;
  outline-style: solid;
  background-color: #bd9750 !important;
  border-color: #D6AD60 !important
}


/* Prices Section */

#pricing {
  padding: 8%;
}

#pricing li {
  text-align: left;
  margin-left: 29%;
}

#pricing span {
  font-size: 20px;
}

.check {
  color: #D6AD60;
}


/* Footer  Section*/
#footer {
  padding: 8%;
  background-color: #D6AD60;
}

#footer p {
  padding: 3% 0;
  color: white;

}

.contact-icon {
  font-size: 4rem;
  padding: 1%;
  color: white;
}

/* Responsive */

@media (max-width: 992px) {
  .navbar {
    padding: 0 0 3rem;
  }

}

@media (max-width: 768px) {
  .navbar {
    padding: 0 0 3rem;
  }

}

@media (max-width: 576px) {

  .col-lg-6 {
    padding: 0 8%;
  }

  .download-btn {
    margin-left: 3%;
  }

  .w-50,
  #regForm {
    margin-left: 0px;
    margin-right: 0px;
  }
}